@use 'sass:math';
@use 'breakpoints' as *;

$browser-context: 16;

// Colors
$color-background: #2c363f;
$color-primary: #E75A7C;
$color-secondary: #F2F5EA;
$color-tertiary: #D6DBD2;
$color-quaternary: #BBC7A4;

@function em($pixels, $context: $browser-context) {
    @return #{math.div($pixels, $context)}em;
}

@mixin default-border-style() {
    border-radius: em(8);
    box-shadow: em(4) em(4) 0 darken($color-background, 5%);
    padding: em(16);
}

* { // Reset
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: em(16);
    background-color: $color-background;
    color: $color-secondary;
    max-width: em(1080);
    margin: 0 auto;

    main {
        padding: em(32) em(32) em(32) em(32);
    }
}

#identity {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: em(32);

    &-content {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        gap: em(8);

        p {
            font-size: clamp(em(14), 1.5vw, em(18));
            line-height: 1.4em;
        }
    }

    &-skills {
        grid-column: 1 / 6;
        grid-row: 2 / 3;

        display: flex;
        flex-direction: column;
        gap: em(16);

        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: em(16);

            @include mq (xs) {
                gap: em(8);
            }

            li {
                display: flex;
                justify-content: center;
                align-items: center;

                height: em(48);

                background-color: $color-secondary;
                padding: em(8) em(16);
                border-radius: em(8);
                font-size: clamp(em(14), 1.5vw, em(16));
                font-weight: bold;
                color: $color-background;
                box-sizing: border-box;

                @include mq (xs) {
                    height: em(32);
                }

                &.level {
                    $rotation: 100deg;

                    &-beginner {
                        background-image: linear-gradient(
                            $rotation,
                            $color-tertiary,
                            $color-tertiary 25%,
                            lighten($color-tertiary, 5%) 25%,
                            lighten($color-tertiary, 5%) 35%,
                            $color-secondary 35%,
                            $color-secondary
                        );
                    }
                    &-moderate {
                        background-image: linear-gradient(
                            $rotation,
                            $color-quaternary,
                            $color-quaternary 50%,
                            lighten($color-quaternary, 10%) 50%,
                            lighten($color-quaternary, 10%) 60%,
                            lighten($color-quaternary, 20%) 60%,
                            lighten($color-quaternary, 20%) 70%,
                            $color-secondary 70%,
                            $color-secondary
                        );
                    }
                    &-advanced {
                        background-image: linear-gradient(
                            $rotation,
                            $color-primary,
                            $color-primary 55%,
                            lighten($color-primary, 10%) 55%,
                            lighten($color-primary, 10%) 70%,
                            lighten($color-primary, 20%) 70%,
                            lighten($color-primary, 20%) 85%,
                            $color-secondary 85%,
                            $color-secondary
                        );
                    }
                    &-expert {
                        background-image: linear-gradient($rotation, $color-primary, $color-primary 100%, $color-secondary 100%, $color-secondary);
                    }
                }
            }
        }
    }

    &-image {
        grid-column: 4 / 6;
        grid-row: 1 / 2;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: em(8);
        }
    }
}

#timeline {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: em(32);
    padding: em(32) 0;
    position: relative;

    #timeline-events {
        grid-column: 1 / 4;

        display: flex;
        flex-direction: column;
        gap: em(16);

        @include mq (xs) {
            grid-column: 1 / 6;
        }

        .timeline-event {
            position: relative;

            height: em(160);

            @include default-border-style();
            padding-bottom: em(32);

            color: $color-background;

            &.not-expandable {
                height: fit-content;
                padding-bottom: em(16);
            }

            &.expanded {
                height: fit-content;
            }

            &-content {
                height: 100%;
                width: 100%;

                display: flex;
                flex-direction: column;

                overflow: hidden;

                h2 {
                    flex-shrink: 0;

                    font-size: clamp(em(16), 1.5vw, em(24));
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
    
                    margin-bottom: em(4);
                }

                p:not(.timeline-event-content-date) { // Description
                    flex-shrink: 2;

                    line-height: 1.4em;
                    overflow: hidden;
                }

                &-date {
                    flex-shrink: 0;

                    font-size: em(14);
                    font-weight: lighter;
                }
            }


            > span.material-icons {
                user-select: none;

                &:first-child { // Event type icon
                    font-size: em(24);
                    position: absolute;
                    top: em(8);
                    left: em(-31);
                    border: 1px solid #000;
                    border-radius: em(8) 0 0 em(8);
                    box-shadow: em(2) em(2) 0 darken($color-background, 5%);
                    padding: em(8);
                    z-index: -1;

                    @include mq (sm) {
                        display: none;
                    }

                    @include mq (md) {
                        display: block;
                    }
                }

                &:last-child { // Collapse icon
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100%;

                    transition: all 0.2s ease-out;

                    &:hover {
                        background-color: #00000023;
                        color: $color-primary;
                    }
                }
            }

            &-link {
                z-index: 1;
                user-select: none;
                cursor: pointer;

                position: absolute;
                top: em(8);
                right: em(8);

                color: $color-background;

                &:hover {
                    color: $color-primary;
                }
            }
        }
    }

    #timeline-legend {
        grid-column: 4 / 6;

        @include mq (xs) {
            display: none;
        }

        &-list { // ul
            display: flex;
            flex-direction: column;
            gap: em(8);
            background-color: $color-secondary;
            color: $color-background;
            
            list-style: none;
            user-select: none;
    
            position: sticky;
            top: em(32);
    
            @include default-border-style();
    
            .timeline-legend-item { // li
                display: grid;
                grid-template-columns: 15% 80%;
                gap: em(16);
                white-space: nowrap;
    
                font-size: em(14);
                font-weight: bold;
    
                &:hover {
                    cursor: pointer;
                    color: $color-primary;
                }
    
                /* &-date {
                    
                } */
    
                &-container {
                    display: flex;
                    align-items: center;
                    gap: em(8);
                    overflow: hidden;
                    text-overflow: ellipsis;

                    span:last-child {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
    
                a {
                    color: inherit;
                    text-decoration: none;
                }
    
                .material-icons {
                    font-size: em(16);
                }
            }
        }
    }

    .event-type {
        background-color: #fff;

        &--education {
            background-color: $color-quaternary;
        }
        &--workplace {
            background-color: $color-secondary;
        }
        &--internship {
            background-color: $color-tertiary;
        }
        &--project {
            background-color: #ffbeba;
        }
    }
}

#contact {
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: em(16);

    position: fixed;
    right: em(16);
    top: 50%;
    transform: translateY(-50%);

    @include mq (xs) {
        grid-column: 1 / 6;

        position: static;
        transform: none;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;

        width: em(32);
        height: em(32);

        border-radius: 50%;
        background-color: $color-primary;

        color: $color-background;
        font-size: em(24);
        text-decoration: none;

        transition: all 0.2s ease-out;

        @include mq (xs) {
            flex: 1;
            border-radius: em(4);
        }

        &:hover {
            background-color: $color-background;
            color: $color-primary;
            border: 2px solid $color-primary;
        }
    }
}